* {
  margin: 0;
  padding: 0;
  color: #646464;
}
li {
  list-style: none;
}
.carousel {
  width: 100%;
  position: relative;
}
.carousel .boss {
  width: 100%;
  height: 275px;
  overflow: hidden;
}
.carousel .boss .boss_ul {
  width: 400%;
}
.carousel .boss .boss_ul .boss-li {
  width: 25%;
  float: left;
}
.carousel .boss .boss_ul .boss-li .boss_img {
  width: 100%;
}
.head {
  width: 100%;
  position: absolute;
  height: 150px;
  top: 0;
}
.head_img {
  height: 20px;
  float: left;
  width: 100%;
}
.head_span {
  color: #323232;
  font-weight: bold;
  float: left;
  margin-left: 4%;
  color: #fff;
  margin-top: 2%;
}
.head_span_img {
  width: 20%;
}
.head_span02 {
  height: 20%;
  float: left;
  font-size: 24px;
  font-weight: bold;
  font-family: "Regular";
  color: #fff;
  margin-left: 16%;
  margin-bottom: 10%;
}
.search_box {
  width: 90%;
  margin-left: 5%;
  height: 30%;
  background: #e1e1e1;
  border-radius: 5px;
  padding-top: 5px;
  margin-bottom: 30px;
}
.search_box_nav {
  width: 50%;
  height: 20px;
  margin: auto;
  padding: 10px;
}
.search_box_nav_img {
  width: 16px;
  float: left;
}
.search_box_nav_p {
  float: left;
  font-size: 14px;
  color: #646464;
  margin-left: 10px;
}
.top {
  width: 100%;
  background: #3c3c3b;
  position: fixed;
  top: 0;
  display: none;
}
.top .top_head {
  width: 100%;
  height: 60px;
  padding: 0 10px;
}
.top .top_head .top_head_span {
  color: #fff;
  font-weight: bold;
  height: 60px;
  display: block;
  line-height: 60px;
  float: left;
}
.top .top_head .top_head_img {
  float: left;
  height: 40px;
  padding-top: 20px;
  vertical-align: middle;
}
.top .top_head .top_head_input {
  width: 50%;
  height: 20px;
  background: #e1e1e1;
  border-radius: 5px;
  float: left;
  margin-left: 10%;
  margin-top: 12px;
  padding: 2% 5%;
}
.top .top_head .top_head_input .top_head_input_img {
  height: 100%;
  float: left;
}
.top .top_head .top_head_input .top_head_input_input {
  width: 80%;
  height: 20px;
  outline: medium;
  border: none;
  background: none;
  float: right;
}
.carousel_02 {
  position: absolute;
  bottom: 5%;
  left: 39%;
  width: 30%;
}
.carousel_02_span {
  float: left;
  margin-right: 10%;
}
.navbar {
  width: 100%;
  padding-top: 5%;
  background: #fff;
}
.navbar .navbar_01 {
  float: left;
  width: 20%;
  height: 40px;
  font-size: 14px;
  color: #646464;
  font-family: "Aparajita Regular";
  position: relative;
}
.navbar .navbar_01:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 60%;
  right: 0;
  background: #ccc;
  top: -5%;
}
.navbar .navbar_area {
  width: 100%;
  background: #fff;
  position: absolute;
  padding-left: 5%;
}
.navbar .navbar_area .area_left {
  width: 45%;
  float: left;
}
.navbar .navbar_area .area_left ul {
  display: none;
}
.navbar .navbar_area .area_left ul li {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
}
.navbar .navbar_area .area_right {
  width: 50%;
  float: left;
  float: right;
}
.navbar .navbar_area .area_right ul {
  display: none;
}
.navbar .navbar_area .area_right ul li {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e1e1e1;
}
.navbar .navbar_area .unit {
  width: 100%;
  display: none;
}
.navbar .navbar_area .unit .unit_02 {
  height: 50px;
  width: 100%;
}
.navbar .navbar_area .unit .unit_02 .unit_01 {
  height: 45px;
  margin: auto;
  width: 64%;
}
.navbar .navbar_area .unit .unit_02 .unit_01 .unit_02_input {
  height: 40px;
  width: 60px;
}
.navbar .navbar_area .unit .unit_02 .unit_01 .unit_02_button {
  outline: medium;
  height: 40px;
  width: 60px;
  border: none;
}
.navbar .navbar_area .unit ul {
  display: none;
}
.navbar .navbar_area .unit ul li {
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.navbar .navbar_p {
  text-align: center;
}
.navbar .navbar_img {
  margin: auto;
  width: 100%;
}
.navbar .navbar_img img {
  margin-left: 36%;
}
.active {
  color: #ea5404;
  background: #e1e1e1;
}
.navbar_02 {
  width: 60px;
  height: 40px;
  float: left;
  text-align: center;
}
.navbar_02 img {
  width: 40%;
  margin-left: 10px;
}
.content {
  margin-top: 3%;
  padding-left: 5%;
}
.content_left {
  width: 40%;
  float: left;
  margin-right: 5%;
}
.content_left_img {
  width: 100%;
}
.content_right {
  width: 50%;
  float: right;
}
.content_right01 {
  width: 13%;
  float: right;
}
.content_right02 {
  font-size: 12px;
  color: #646464;
  float: right;
}
.content_center {
  width: 50%;
  float: left;
}
.content_h5 {
  color: #323232;
  margin-bottom: 5%;
}
.content_p {
  font-size: 12px;
  color: #646464;
  margin-bottom: 5%;
}
.content_p01 {
  padding: 2px;
  width: 40%;
  border: 1px solid #ea5404;
  border-radius: 5%;
  color: #ea5404;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5%;
}
.content_center_01_p {
  float: left;
  color: #ea5404;
  font-size: 12px;
  font-weight: bold;
}
.content_center_01_p02 {
  float: left;
  font-size: 12px;
  color: #646464;
}
.footer {
  width: 100%;
  height: 42px;
  height: 50px;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding-top: 3%;
  z-index: 3;
}
.footer_poto {
  float: left;
  width: 20%;
  height: 100%;
}
.footer_poto_img {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_press_icon04@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_img01 {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_nor_icon04@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_img03 {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_nor_icon03@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_img04 {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_press_icon03@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_img05 {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_nor_icon02@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_img05a {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_press_icon02@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_img06 {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_nor_icon01@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_img06a {
  margin: auto;
  width: 21px;
  height: 21px;
  background: url("../../img/BottomNavigation/bottom_press_icon01@2x.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
.footer_poto_p {
  font-size: 12px;
  color: #ea5404;
  text-align: center;
  margin-top: 2%;
}
.footer_poto_p01 {
  font-size: 12px;
  color: #b4b4b4;
  text-align: center;
  margin-top: 2%;
}
.footer_poto_img02 {
  width: 50%;
  display: block;
  margin: auto;
}
.footer_poto_img02b {
  width: 60%;
  display: block;
  margin: auto;
}
.footer_poto_p02 {
  font-size: 12px;
  color: #b4b4b4;
  text-align: center;
  margin-top: 2%;
}
.footer_poto_p02b {
  font-size: 12px;
  color: #ea5404;
  text-align: center;
  margin-top: 2%;
}
.footer_poto_p03 {
  font-size: 12px;
  color: #b4b4b4;
  text-align: center;
  margin-top: 2%;
}
.footer_poto_p03b {
  font-size: 12px;
  color: #ea5404;
  text-align: center;
  margin-top: 2%;
}
.footer_poto_p04 {
  font-size: 12px;
  color: #b4b4b4;
  text-align: center;
  margin-top: 2%;
}
.footer_poto_p04b {
  font-size: 12px;
  color: #ea5404;
  text-align: center;
  margin-top: 2%;
}
.foot_img {
  width: 50px;
  position: fixed;
  right: 2%;
  bottom: 10%;
  display: none;
}
.message {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #e1e1e1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}
.message .message_top {
  width: 70%;
  height: 40px;
  margin: auto;
  border: 1px solid #ea5404;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
}
.message .message_top .message_top_span {
  height: 40px;
  line-height: 40px;
  flex: 1;
  text-align: center;
  color: #ea5404;
}
.message .message_top .active {
  background: #ea5404;
  color: #fff;
}
.preserve {
  display: none;
}
.message_notice {
  margin: auto;
  width: 80%;
  padding: 3% 5%;
  box-shadow: 0px 0px 1px 1px #b4b4b4;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.message_notice_top {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #b4b4b4;
}
.message_notice_top_p {
  height: 30px;
  width: 50%;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  float: left;
}
.message_notice_top_p01 {
  float: right;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  width: 30%;
}
.message_notice_center {
  padding: 2% 0;
  font-size: 14px;
  width: 100%;
  text-indent: 2em;
}
.message_notice_bottom {
  font-size: 14px;
}
