<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="descrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../public/css/login/loading.css"/>
		
	</head>
	<body>
		<div class="loading">
			<a href="#"><img src="../public/img/login/loading_06.png" class="logo" /></a>
		</div>
		<div class="footer">
			<p class="footer_1">2016 浙ICP备05018788号</p>
		</div>
		
		
		<script src="../public/js/zepto/zepto.min.js"></script>
		<script src="../public/js/zepto/touch.js"></script>
		<script src="../public/js/zepto/zepto-fx.js"></script>
		<script src="../public/js/register/register.js"></script>
		<script src="../public/js/homepage/index.js"></script>
	</body>
</html>

