*
	margin 0
	padding 0
.head
	width 100%
	padding 10px
.head_01
	border-top 1px solid #ccc
	width 100%
.head_img
	height 20px
	float left
	margin-top 5px
.head_p
	color #ea5404
	font-size 24px
	font-weight bold 
	float left
	margin-left 33%
.head_01
	color #ccc
	width 100%
	font-size 14px
	padding 10px
.head_portrait
	width 80px
	height 80px
	margin 0 auto
	background #878787
	border-radius 50%
	font-size 14px
	color #fff
	line-height 80px
	text-align center
.banner
	width 100%
	margin-top 5px
.banner_input
	width 80%
	height 30px
	margin-left 10%
	outline medium
	color #878787
	border-radius 5px
	border 1px solid #ccc
	margin-bottom 10px
.papers
	width 100%
.papers_left
	float left
	width 80px
	height 60px
	background #ccc	
	margin-left 5%
	margin-right 20px
	border-radius 10px
	font-size 12px
	color #fff
	line-height 60px
	text-align center
.papers_center
	float left
	width 80px
	height 60px
	background #ccc
	margin-right 20px
	border-radius 10px
	font-size 12px
	color #fff
	line-height 60px
	text-align center
.papers_right
	width 80px
	float left
	height 60px
	background #ccc
	margin-right 10px
	border-radius 10px
	font-size 12px
	text-align center
	color #fff
	line-height 60px
.finish
	border-radius 5px
	border none
	width 80%
	height 40px
	margin 0 auto
	outlinen medium
	background #ea5404
	margin-left 10%
	color #fff
	margin-top 30px