*
	margin 0
	padding 0
	color #646464
	
.search
	padding-top 10%
	padding-left 5%
	width 90%
	.search_img
		float left
		width 30px
		height 100%
		img
			vertical-align middle
			width 70%
			margin-top 10px
	.search_input
		outline medium
		border none
		height 40px
		float left
		font-size 16px
	.search_cuo
		width 20px
		height 20px
		background #ccc
		border-radius 50%
		line-height 17px
		text-align center
		float left
		color #fff
		margin-top 10px
		
	.search_button
		float right
		height 40px
		width 40px
		border none
		outline medium
		background none
		font-size 18px
		font-weight bold
.search_ht		
	padding-left 5%
	width 90%
	margin-top 20px	
	.search_ht_span
		float left
		font-size 14px
		font-family "Aparajita Regular"	
	.search_ht_reset
		float right
		outline medium
		border none
		height 20px
		width 40px
		background none
		