body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.top {
  width: 100%;
}
.login {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #d6d7dc;
  overflow: hidden;
  margin-bottom: 5%;
}
.left {
  padding-top: 20px;
  float: left;
  margin-left: 4%;
}
.centre {
  color: #ea5404;
  line-height: 70px;
  font-size: 20px;
  margin: auto;
  float: left;
  margin-left: 34%;
  font-family: "Microsoft YaHei";
}
.left_1 {
  width: 60%;
}
.right {
  float: right;
  line-height: 70px;
  margin-right: 5%;
  font-family: "Microsoft YaHei";
}
a {
  text-decoration: none;
  color: #323232;
}
.box {
  border-top: 1px solid #d6d7dc;
  padding: 9px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  overflow: hidden;
}
.label_p {
  float: left;
  text-indent: 10px;
  line-height: 30px;
}
.label_01 {
  width: 30px;
  float: left;
}
.account {
  color: #ccc;
  border: none;
  width: 53%;
  height: 30px;
  outline: medium;
}
.account_01 {
  color: #ccc;
  border: none;
  width: 38%;
  height: 30px;
  outline: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.code {
  background: #ea5404;
  float: right;
  font-size: 14px;
  height: 25px;
  border-radius: 5px;
  padding: 2px;
  color: #fff;
  line-height: 25px;
}
.label_02 {
  width: 20px;
  float: left;
  margin-left: 5px;
  margin-right: 2px;
}
.account_02 {
  position: absolute;
  float: right;
  width: 20px;
  margin-top: 2px;
  right: 3px;
}
.account_03 {
  margin-left: 62%;
  margin-bottom: 10px;
  width: 20px;
}
.case {
  position: absolute;
  margin-left: 1px;
  margin-top: 10px;
  right: 0;
}
.list_01 {
  list-style: none;
  background: #ccc;
  border-bottom: 1px solid #fff;
  text-align: center;
  width: 60px;
}
.list {
  border-radius: 10px;
  position: absolute;
  right: 0%;
  margin-left: 15px;
}
.box_01 {
  border-top: 1px solid #d6d7dc;
  border-bottom: 2px solid #d6d7dc;
  padding: 9px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  margin-bottom: 40px;
}
.register_01 {
  width: 90%;
  height: 40px;
  background: #ccc;
  outline: medium;
  margin-left: 5%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 22px;
}
.tail {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
.tail a {
  color: #ea5404;
}
