<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="descrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/login/index.css"/>
		
		
	</head>
	<body>
		
		<!--
        	作者：offline
        	时间：2016-12-11
        	描述：注册登录
        -->
        <div class="top">
			<div class="login">
				<div class="left"><a href="#"><img src="../../public/img/login/nav_back_icon@2x.png" class="left_1"></a></div>
				<div class="centre">注册</div>
				<div class="right"><a href="#"> 登录</a></div>
			</div>
		</div>
		<div class="box">
			<label>
				<img src="../../public/img/login/content_ID_icon@2x.png" class="label_01"/>
				<p class="label_p">账号：</p>
				<input type="text" placeholder="请输入你的账号" class="account" />
			</label>
		</div>
		<div class="box">
			<label>
				<img src="../../public/img/login/content_verify_icon@2x.png" class="label_02"/>
				<p class="label_p">验证码：</p>
				<input type="text" placeholder="请输入你的验证码" class="account_01" />
				<span class="code">获取验证码</span>
			</label>
		</div>
		<div class="box">
			<label>
				<img src="../../public/img/login/content_password_icon@2x.png" class="label_01"/>
				<p class="label_p">密码：</p>
				<input type="password" value="" class="account" />
			</label>
		</div>
		<div class="box">
			<label>
				<img src="../../public/img/login/content_password_icon@2x.png" class="label_01"/>
				<p class="label_p">确认密码：</p>
				<input type="password" value="" class="account" />
			</label>
		</div>
			<div class="box_01">
			<label>
				<img src="../../public/img/login/content_position_icon@2x.png" class="label_01"/>
				<p class="label_p">身份人：</p>
				<input type="text" value="经纪人" class="account" />
				<span class="case">
					<img src="../../public/img/login/nav_back_icon@2d.png" class="account_02"/>
					<div class="list">
						<img src="../../public/img/login/nav_icon_back@2c.png" class="account_03"/>
						<div class="list_01">经纪人</div>
						<div class="list_01">小业主</div>
						<div class="list_01">运营商</div>
						<div class="list_01">代理商</div>
						<div class="list_01">开发商</div>
					</div>
				</span>
			</label>
		</div>
		<div class="box_register">
			<label>
				<input type="submit" value="注册"  class="register_01"/>
			</label>
		</div>
		<p class="tail">注册代表同意<a href="#">《活力矩阵用户协议》</a></p>
		
		
		
		
		<script src="../../public/js/jQuery1.12/jquery-1.12.2.js"></script>
		<script src="../../public/js/jQuery1.12/bootstrap.min.js"></script>
		<script src="../../public/js/register/register.js"></script>
	</body>
</html>
