<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="descrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title><link rel="stylesheet" type="text/css" href="../../public/css/login/logintime.css"/>
	</head>
	<body>
		<div class="top_01">
			<div class="login_01">
				<div class="left_01"><a href="#"><img src="../../public/img/login/nav_back_icon@2x.png" class="left_10"></a></div>
				<div class="right_01"><a href="#">登录</a></div>
			</div>
		</div>
		<div class="boxs">
			<label>
				<img src="../../public/img/login/content_ID_icon@2x.png" class="label_04"/>
				<p class="label_p">账号：</p>
				<input type="text" placeholder="请输入你的账号" class="account_04" />
			</label>
		</div>
		<div class="boxs">
			<label>
				<img src="../../public/img/login/content_password_icon@2x.png" class="label_04"/>
				<p class="label_p">密码：</p>
				<input type="text" placeholder="请输入你的账号密码" class="account_04" />
			</label>
		</div>
		<div class="boxs">
			<label>
				<input type="submit" value="登录" class="account_login" />
			</label>
		</div>
		<div class="boxs">
			<a hre ="#" class="login_a">注册</a>
			<p class=boxs_p>忘记密码？</p>
			<div style="clear: both;"></div>
		</div>
		
		
		<script src="../../public/js/jQuery1.12/jquery-1.12.2.js"></script>
		<script src="../../public/js/jQuery1.12/bootstrap.min.js"></script>
		<script src="../../public/js/register/register.js"></script>
	</body>
</html>
