<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="descrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/login/mno.css"/>
	</head>
	<body>
		<div class="head">
			<img src="../../public/img/login/nav_back_icon@2x.png" class="head_img" />
			<p class="head_p">运营商</p>
			<div style="clear: both;"></div>
		</div>
		<div class="head_01">必填项</div>
		<div class="head_portrait">
			添加头像
		</div>
		<div class="banner">
			<input type="text" placeholder="公司名" class="banner_input" />
			<input type="text" placeholder="企业邮箱/公司总机" class="banner_input" />
			<input type="text" placeholder="联系人" class="banner_input" />
			<input type="text" placeholder="联系方式" class="banner_input" />
		</div>
		<div class="head_01">选填项</div>
		<input type="text" placeholder="微信号码" class="banner_input" />
		<div class="papers">
			<div class="papers_left">
				微信二维码
			</div>
			<div class="papers_center">
				营业执照
			</div>
			<div class="papers_right">
				运营/租赁协议
			</div>
			<div style="clear: both;"></div>
		</div>
		<input type="submit" value="完成" class="finish"/>
	</body>
</html>
