<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="descrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/city.css"/>
	</head>
	<body>
		<div class="box">
			<div class="box_flase">关闭</div>
			<div class="box_city">
				<h3>选择城市</h3>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="banner">
			<div class="banner_left">
				<ul>
					<li class="banner_left_li">北京</li>
					<li class="banner_left_li">上海</li>
				</ul>
			</div>
		</div>
	</body>
</html>
