<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="descrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/homepage03.css"/>
	</head>
	<body>
		<div class="box">
			<div class="box_left">
				<ul>
					<li class="box_left_li">
						<h3>地铁</h3>
					</li>
					<li class="box_left_li">
						<h3>房型</h3>
					</li>
					<li class="box_left_li">
						<h3>装修</h3>
					</li>
					
				</ul>
			</div>
			<div class="box_right">
				<ul>
					<li class="box_right_li">
						<h4>全部</h4>
					</li>
					<li class="box_right_li">
						<h4>豪装</h4>
					</li>
					<li class="box_right_li">
						<h4>精装</h4>
					</li>
					<li class="box_right_li">
						<h4>简装</h4>
					</li>
					<li class="box_right_li">
						<h4>标准交付</h4>
					</li>
					<li class="box_right_li">
						<h4>毛坯</h4>
					</li>
					
				</ul>
			</div>
			<div style="clear: both;"></div>
		</div>
	</body>
</html>
