<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="discrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/homepage.css"/>
	</head>
	<body>
		<div class="carousel">
			<div class="boss">
				<ul class="boss_ul">
					<li class="boss-li">
						<img class="boss_img" src="../../public/img/homepage/banner_img@2x.png" />
					</li>
					<li class="boss-li">
						<img class="boss_img" src="../../public/img/homepage/banner_img@2x.png" />
					</li>
					<li class="boss-li">
						<img class="boss_img" src="../../public/img/homepage/banner_img@2x.png" />
					</li>
					<li class="boss-li">
						<img class="boss_img" src="../../public/img/homepage/banner_img@2x.png" />
					</li>
					<div style="clear: both;"></div>
				</ul>
				<div class="carousel_02">
					<ul>
						<li class="carousel_02_span">
							<img src="../../public/img/homepage/banner_icon_point_press@2x.png"/>
						</li>
						<li class="carousel_02_span">

							<img src=" ../../public/img/homepage/banner_icon_point_nor@2x.png"/>
						</li>
						<li class="carousel_02_span">
							<img src=" ../../public/img/homepage/banner_icon_point_nor@2x.png"/>
						</li>
						<li class="carousel_02_span">
							<img src=" ../../public/img/homepage/banner_icon_point_nor@2x.png"/>
						</li>
						<div style="clear: both;"></div>
						</ul>
					</div>
			</div>
			
			<div class="head">
				

					<img src=" ../../public/img/homepage/banner_img_shadow@2x.png"class="head_img" />
					<span class="head_span">上海
						<img src="../../public/img/homepage/nav_icon_down@2x.png" class="head_span_img">

					</span>
					<span class="head_span02">东山之家</span>
					<div style="clear: both;"></div>
					<div class="search_box" />
						<div class="search_box_nav">
 
							<img class="search_box_nav_img" src=" ../../public/img/homepage/banner_icon_search@2x.png"  />
							<p class="search_box_nav_p"> 挑好房，上东山</p>
						</div>
						
					</div>
			</div>
			
			<div class="top">
				<div class="top_head">
					<span class="top_head_span">
						上海
						
					</span>
					<div class="top_head_img">
 
						<img  src=" ../../public/img/homepage/nav_icon_down@2x.png" class="head_span_img">
					</div>
					<div class="top_head_input">
						<img class="top_head_input_img" src="../../public/img/homepage/banner_icon_search@2x.png" />
  
						<input class="top_head_input_input" type="text" placeholder="挑好房，上东山之家" ></input>
						<div style="clear: both;"></div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
			
			
			
		</div>
		<div class="navbar">
			<div class="navbar_01">
				<p class="navbar_p">区域</p>
				<div class="navbar_img">
 
					<img  src=" ../../public/img/homepage/content_icon02_nor@2x.png" />
  
				</div>
			</div>
			<div class="navbar_01">
				<p class="navbar_p">面积</p>
				<div class="navbar_img">
 
					<img  src=" ../../public/img/homepage/content_icon02_nor@2x.png" />

				</div>
			</div>
			<div class="navbar_01">
				<p class="navbar_p">单价</p>
				<div class="navbar_img">
 
					<img  src=" ../../public/img/homepage/content_icon02_nor@2x.png" />		
				</div>
			</div>
			<div class="navbar_01">
				<p class="navbar_p">更多</p>
				<div class="navbar_img">
					<img  src=" ../../public/img/homepage/content_icon02_nor@2x.png" />
		
				</div>
			</div>
			<div class="navbar_03">
				<div class="navbar_02">
					<img " src=" ../../public/img/homepage/content_icon01_nor@2x.png" />
				</div>
			</div>
			<div style="clear: both;"></div>
			
			
				<!--
            	作者：offline
            	时间：2016-12-19
            	描述：区域
           -->	
		<div class="navbar_area">
			<div class="area_left">
				
				<ul class="area_left_ul">
					<li>全部</li>
					<li>闵行</li>
					<li>浦东</li>
					<li>嘉定</li>
					<li>宝山</li>
					<li>闸北</li>
					<li>松江</li>
					<li>青浦</li>
					<li>徐汇</li>
					<li>普陀</li>		
				</ul>	
				<ul>
 
					<li class="mold active">地铁</li>
					<li class="mold">房型</li>
					<li class="mold">装修</li>	
   
					<li>地铁</li>
					<li>房型</li>
					<li>装修</li>	
  
				</ul>
				
			</div>
			<div class="area_right">
				
				<ul>
					<li>全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>	
				</ul>
				<ul>
					<li>全部</li>
					<li>1号线</li>
					<li>2号线</li>
					<li>3号线</li>
					<li>4号线</li>
					<li>5号线</li>
				</ul>
 
				<ul>
					<li>全部</li>
					<li>重创空间</li>
					<li>商务中心</li>
					<li>创意产业园</li>
					<li>写字楼</li>
					<li>整栋</li>
					<li>整层</li>
				</ul>
				<ul>
					<li>全部</li>
					<li>豪装</li>
					<li>精装</li>
					<li>简装</li>
					<li>标准支付</li>
					<li>毛坯</li>
				</ul>
   
  
			</div>
			<div style="clear: both;"></div>
			
			
			<div class="unit">
				<ul>
					<li>全部</li>
					<li>100/m&sup2;以下</li>
					<li>100-200/m&sup2</li>
					<li>200-300/m&sup2;</li>
					<li>300-500/m&sup2;</li>
					<li>500-1000/m&sup2;</li>
					<li>1000/m&sup2;以上</li>
				</ul>
				<ul>
					<li>全部</li>
					<li>3元/m&sup2;/天以下</li>
					<li>3-4元/m&sup2;/天</li>
					<li>4-5元/m&sup2;/天</li>
					<li>5-7元/m&sup2;/天</li>
					<li>7-9元/m&sup2;/天</li>
					<li>9-12元/m&sup2;/天</li>
					<li>12元/m&sup2;/天以上</li>
				</ul>
 
				
				<div class="unit_02">
					<div class="unit_01">
						<input type="text" class="unit_02_input" />
						<input type="text" class="unit_02_input" />
						<button class="unit_02_button">确定</button>
					</div>
				</div>
   
  
			</div>
		</div>
		
		
	</div>

		<div class="content">
			<div class="content_left">
 
				<img class="content_left_img" src=" ../../public/img/homepage/content_img_list@2x.png" />
			</div>
			<div class="content_center">
				<p class="content_p">浦东-八百半</p>
				<p class="content_p01">商务中心</p>
				<div class="content_center_01">
					<p class="content_center_01_p">&yen;7</p>
					<p class="content_center_01_p02">元/平米/天起</p>
					<p class="content_right02">佣金：1个月</p>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="content_right">
				
				
			</div>
			<div style="clear: both;"></div>
		</div>
		
		<div class="content">
			<div class="content_left">
 
				<img class="content_left_img" src=" ../../public/img/homepage/content_img_list@2x.png" />
			</div>
			<div class="content_center">
				<h4 class="content_h5">东方金融中心
					<img class="content_right01" src="../../public/img/homepage/collect_icon_nor@2x.png" />
  
					<div style="clear: both;"></div>
				</h4>
				<p class="content_p">浦东-八百半</p>
				<p class="content_p01">商务中心</p>
				<div class="content_center_01">
					<p class="content_center_01_p">&yen;7</p>
					<p class="content_center_01_p02">元/平米/天起</p>
					<p class="content_right02">佣金：1个月</p>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="content_right">
				
				
			</div>
			<div style="clear: both;"></div>
		</div>
		
		
		<div class="content">
			<div class="content_left">
 
				<img class="content_left_img" src=" ../../public/img/homepage/content_img_list@2x.png" />
			</div>
			<div class="content_center">
				<h4 class="content_h5">东方金融中心
					<img class="content_right01" src="../../public/img/homepage/collect_icon_nor@2x.png" />
  
					<div style="clear: both;"></div>
				</h4>
				<p class="content_p">浦东-八百半</p>
				<p class="content_p01">商务中心</p>
				<div class="content_center_01">
					<p class="content_center_01_p">&yen;7</p>
					<p class="content_center_01_p02">元/平米/天起</p>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="content_right">
				
				
			</div>
			<div style="clear: both;"></div>
			
		</div>
		<div class="content">
			<div class="content_left">
 
				<img class="content_left_img" src=" ../../public/img/homepage/content_img_list@2x.png" />
			</div>

			<div class="content_center">
				<h4 class="content_h5">东方金融中心
					<img class="content_right01" src="../../public/img/homepage/collect_icon_nor@2x.png" />
  
					<div style="clear: both;"></div>
				</h4>
				<p class="content_p">浦东-八百半</p>
				<p class="content_p01">商务中心</p>
				<div class="content_center_01">
					<p class="content_center_01_p">&yen;7</p>
					<p class="content_center_01_p02">元/平米/天起</p>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="content_right">
				
				
			</div>
			<div style="clear: both;"></div>
			
		</div>
		<div class="content">
			<div class="content_left">
 
				<img class="content_left_img" src=" ../../public/img/homepage/content_img_list@2x.png" />
			</div>
	
			<div class="content_center">
				<h4 class="content_h5">东方金融中心
					<img class="content_right01" src="../../public/img/homepage/collect_icon_nor@2x.png" />
  
					<div style="clear: both;"></div>
				</h4>
				<p class="content_p">浦东-八百半</p>
				<p class="content_p01">商务中心</p>
				<div class="content_center_01">
					<p class="content_center_01_p">&yen;7</p>
					<p class="content_center_01_p02">元/平米/天起</p>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="content_right">
				
				
			</div>
			<div style="clear: both;"></div>
			
		</div>
		<div class="content">
			<div class="content_left">
 
				<img class="content_left_img" src=" ../../public/img/homepage/content_img_list@2x.png" />
			</div>
		
			<div class="content_center">
				<h4 class="content_h5">东方金融中心
					<img class="content_right01" src="../../public/img/homepage/collect_icon_nor@2x.png" />
  
					<div style="clear: both;"></div>
				</h4>
				<p class="content_p">浦东-八百半</p>
				<p class="content_p01">商务中心</p>
				<div class="content_center_01">
					<p class="content_center_01_p">&yen;7</p>
					<p class="content_center_01_p02">元/平米/天起</p>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="content_right">
				
				
			</div>
			<div style="clear: both;"></div>
			
		</div>
		<div class="content">
			<div class="content_left">
 
				<img class="content_left_img" src=" ../../public/img/homepage/content_img_list@2x.png" />
			</div>
	
			<div class="content_center">
				<h4 class="content_h5">东方金融中心
					<img class="content_right01" src="../../public/img/homepage/collect_icon_nor@2x.png" />
  
					<div style="clear: both;"></div>
				</h4>
				<p class="content_p">浦东-八百半</p>
				<p class="content_p01">商务中心</p>
				<div class="content_center_01">
					<p class="content_center_01_p">&yen;7</p>
					<p class="content_center_01_p02">元/平米/天起</p>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="content_right">
				
				
			</div>
			<div style="clear: both;"></div>
			
		</div>
		
		
		<div class="footer">
			<div class="footer_poto">
				<div id="a1" class="footer_poto_img"></div>		
				<p class="footer_poto_p">首页</p>
			</div>
			<div class="footer_poto">
				<div id="a2" class="footer_poto_img03"></div>		
				<p class="footer_poto_p02">预约</p>
			</div>
			<div class="footer_poto">
					<img class="footer_poto_img02" src="../../public/img/BottomNavigation/bottom_icon05@2x.png" />
			</div>
			<div class="footer_poto">
				<div id="a3" class="footer_poto_img05"></div>	
				<p class="footer_poto_p03">信息</p>
			</div>
			<div class="footer_poto">
					
  				<div id="a4" class="footer_poto_img06"></div>
				<p class="footer_poto_p04">我</p>
			</div>
		</div>
		
		<!--
        	作者：offline
        	时间：2016-12-21
        	描述：通知
        -->
		<div class="message">
			<div class="message_top">
				<span class="message_top_span">消息</span>
				<span class="message_top_span active">通知</span>
				<span class="message_top_span">需求&sup3;</span>
			</div>
			<div class="preserve">
				<div class="message_notice">
					<div class="message_notice_top"> 
						<p class="message_notice_top_p">房源维护提示</p>
						<p class="message_notice_top_p01">08/04/13：06</p>
					</div>
					<div class="message_notice_center">
						你在本平台上传一处房源信息，现在有效期马上就到了，请到“我发布的的房源”
					中更新动态，5天后该房源将自动下架。
					</div>
					<div class="message_notice_bottom">
						地址：徐汇-龙华 科技大厦
					</div>
				</div>
				
				
				<div class="message_notice">
					<div class="message_notice_top"> 
						<p class="message_notice_top_p">房源维护提示</p>
						<p class="message_notice_top_p01">08/04/13：06</p>
						<div style="clear: both;"></div>
					</div>
					<div class="message_notice_center">
						你在本平台上传一处房源信息，现在有效期马上就到了，请到“我发布的的房源”
					中更新动态，5天后该房源将自动下架。
					</div>
					<div class="message_notice_bottom">
						地址：徐汇-龙华 科技大厦
					</div>
				</div>
			</div>
			<div class="shoot">
				<span class="shoot_span">你眼中“最美夜滨江”摄影征集启动啦！</span>
				<span class="shoot_span">
					霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩.....你眼中“醉”美滨江夜景在哪里？
				</span>
				<span class="shoot_span">08/04/13：06</span>
			</div>
		</div>
		
		
		
		
		<script src="../public/js/zepto/zepto.min.js"></script>
		<script src="../public/js/zepto/touch.js"></script>
		<script src="../public/js/zepto/zepto-fx.js"></script>
		<script src="../public/js/homepage/homepage.js"></script>
  
	</body>
</html>
