<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<meta name="keywords" content="杭州童泽网络科技有限公司" />
		<meta name="descrption" content="杭州童泽网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
		<title>东山之家----杭州童泽网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/search.css"/>
	</head>
	<body>
		<div class="search">
			<div class="search_img">
				<img src="../../public/img/homepage/banner_icon_search@2x.png" />
			</div>
			<input class="search_input" type="text" placeholder="挑好房，上东山之家" />
			<div class="search_cuo">x</div>
			<button class="search_button">取消</button>
			<div style="clear:both;"></div>
		</div>
		<div class=" search_ht">
			<span class="search_ht_span">
				最近搜索
			</span>
			<input class="search_ht_reset" type="reset" value="清除" />
			<div style="clear:both;"></div>
		</div>
		
	</body>
</html>
