* {
  margin: 0;
  padding: 0;
}
.head {
  width: 90%;
  padding: 5%;
  border-bottom: 1px solid #e1e1e1;
}
.head_img {
  height: 20px;
  float: left;
  margin-top: 3px;
}
.head_p {
  color: #323232;
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin-left: 37%;
}
.banner {
  width: 100%;
}
.banner_img {
  margin-left: 35%;
  width: 28%;
  margin-top: 10%;
  text-align: center;
}
.release {
  margin-left: 27%;
  width: 100%;
}
.banner_img01 {
  width: 28%;
  float: left;
}
.release_01 {
  float: left;
  color: #878787;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 20%;
}
.banner_01 {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 5px;
}
.banner_span {
  color: #878787;
  float: left;
  line-height: 30px;
  margin-left: 4%;
}
.banner_input {
  width: 46%;
  height: 30px;
  outline: medium;
  float: right;
  border: none;
}
.banner_right {
  float: right;
  height: 18px;
  margin-top: 5px;
}
.footer {
  position: absolute;
  bottom: 5%;
  left: 30%;
  color: #646464;
}
