body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
.head {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
}
.head_img {
  height: 20px;
  float: left;
  margin-top: 5px;
  margin-top: 26px;
}
.head_p {
  color: #323232;
  font-size: 24px;
  font-weight: bold;
  float: left;
  margin-left: 32%;
}
.banner {
  width: 100%;
  margin-top: 5px;
  background: #fff;
}
.head_01 {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #ccc;
}
.banner_01 {
  border-bottom: 1px solid #e1e1e1;
  height: 35px;
}
.banner_span {
  color: #878787;
  float: left;
  line-height: 30px;
  margin-left: 4%;
}
.head_portrait {
  float: left;
  width: 30px;
  height: 30px;
  background: #ea5404;
  border-radius: 50%;
  margin-left: 35%;
}
.head_portrait_02 {
  width: 46%;
  float: left;
  font-size: 12px;
  color: #646464;
  font-family: "Algerian Regular";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  margin-left: 36%;
}
.banner_img {
  float: right;
  height: 18px;
  margin-top: 5px;
}
.banner_input {
  width: 46%;
  height: 30px;
  outline: medium;
  float: right;
  border: none;
}
.papers {
  width: 100%;
  background: #fff;
}
.papers_left {
  float: left;
  margin-top: 30px;
  width: 80px;
  height: 60px;
  background: #878787;
  margin-left: 5%;
  border-radius: 5px;
}
.papers_center {
  float: left;
  width: 80px;
  margin-top: 30px;
  height: 60px;
  background: #878787;
  border-radius: 5px;
}
.papers_right {
  width: 80px;
  margin-top: 30px;
  float: left;
  height: 60px;
  background: #878787;
  border-radius: 5px;
}
.papers_01 {
  width: 30%;
  float: left;
  margin-left: 3%;
}
.parers_02 {
  font-size: 12px;
  color: #646464;
  text-align: center;
}
.footer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.poto {
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccc;
  background: #fff;
  text-align: center;
  line-height: 40px;
}
.pt {
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccc;
  background: #fff;
  text-align: center;
  line-height: 40px;
}
.bt {
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccc;
  background: #fff;
  text-align: center;
  line-height: 40px;
  color: #ea5404;
}
.pc {
  width: 100%;
  position: absolute;
  bottom: 0;
}
